<div class="navbar">

    <div class="title">
        <h1>Admin Dashboard</h1>
    </div>

    <div class="right">

        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
                type="text"
                class="search"
                placeholder="Search leads..."
            >
        </div>

        <button class="notification-btn">
            <i class="fa-solid fa-bell"></i>
        </button>

        <div class="profile">

            <img
                src="../assets/logos/madhulata-mark.svg"
                class="avatar"
                alt="Madhulata Logo"
            >

            <div class="profile-info">
                <strong>Mahesh</strong>
                <small>Administrator</small>
            </div>

        </div>

    </div>

</div>