<div class="sidebar">

    <div class="logo">

        <h2>Madhulata</h2>

        <span>Solutions</span>

    </div>

    <ul>

        <ul>

            <li>
            <a href="../dashboard.html" class="active">
            <i class="fa-solid fa-chart-line"></i>
            Dashboard
            </a>
            </li>
            
            <li>
            <a href="../leads.html">
            <i class="fa-solid fa-users"></i>
            Leads
            </a>
            </li>
            
            <li>
            <a href="../documents.html">
            <i class="fa-solid fa-file-lines"></i>
            Documents
            </a>
            </li>
            
            <li>
            <a href="../meetings.html">
            <i class="fa-solid fa-calendar-days"></i>
            Meetings
            </a>
            </li>
            
            <li>
            <a href="../analytics.html">
            <i class="fa-solid fa-chart-simple"></i>
            Analytics
            </a>
            </li>
            
            <li>
            <a href="../settings.html">
            <i class="fa-solid fa-gear"></i>
            Settings
            </a>
            </li>
            
            </ul>

    </ul>

</div>